{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="profile-container">
    <!-- Encabezado del perfil con imagen de usuario y botón de edición -->
    <div class="profile-header">
        <div class="profile-image-container">
            <img src="{% static 'images/logo.png' %}" alt="Profile Image" class="profile-image">
        </div>
        <div class="user-info">
            <div class="username">@Nombre del usuario</div>
            <div class="name">Nombre Completo</div>
        </div>
        <i class="fa-solid fa-pen edit-icon"></i> <!-- Icono de edición -->
    </div>

    <!-- Formulario para editar el perfil -->
    <div class="profile-form">
        <h3>Editar Perfil</h3>
        <form>
            <h4>Datos Personales</h4>
            
            <!-- Campo de Nombre con ícono -->
            <label for="nombre">Nombre:</label>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-user"></i>
                </span>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" aria-label="Nombre">
            </div>

            <!-- Campo de Apellido Paterno con ícono -->
            <label for="apPaterno">Apellido Paterno:</label>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-user"></i>
                </span>
                <input type="text" class="form-control" id="apPaterno" placeholder="Apellido Paterno" aria-label="Apellido Paterno">
            </div>

            <!-- Campo de Apellido Materno con ícono -->
            <label for="apMaterno">Apellido Materno:</label>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-user"></i>
                </span>
                <input type="text" class="form-control" id="apMaterno" placeholder="Apellido Materno" aria-label="Apellido Materno">
            </div>

            <!-- Campo de Género con ícono -->
            <label for="genero">Género:</label>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-venus-mars"></i>
                </span>
                <input type="text" class="form-control" id="genero" placeholder="Género" aria-label="Género">
            </div>

            <!-- Campo de Correo con ícono -->
            <label for="correo">Correo:</label>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-envelope"></i>
                </span>
                <input type="email" class="form-control" id="correo" placeholder="Correo" aria-label="Correo">
            </div>

            <!-- Campo de Teléfono con ícono -->
            <label for="telefono">Num. Telefónico:</label>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-phone"></i>
                </span>
                <input type="text" class="form-control" id="telefono" placeholder="Número Telefónico" aria-label="Teléfono">
            </div>

            <h4>Datos de Cuenta</h4>
            
            <!-- Campo de Usuario con ícono -->
            <label for="Usuario">Usuario:</label>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-user"></i>
                </span>
                <input type="text" class="form-control" id="username" placeholder="Nombre de Usuario" aria-label="Usuario">
            </div>

            <!-- Campo de Contraseña Actual con ícono de candado y ojo -->
            <label for="contraseña_Actual">Contraseña Actual:</label>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input type="password" class="form-control" id="password" placeholder="Contraseña Actual" aria-label="Contraseña Actual">
                <span class="input-group-text" onclick="togglePassword()">
                    <i class="fa-regular fa-eye" id="eye-icon-password"></i>
                </span>
            </div>

            <!-- Campo de Contraseña Nueva con ícono de candado y ojo -->
            <label for="contraseña_Nueva">Contraseña Nueva:</label>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input type="password" class="form-control" id="NewPassword" placeholder="Nueva Contraseña" aria-label="Nueva Contraseña">
                <span class="input-group-text" onclick="toggleNewPassword()">
                    <i class="fa-regular fa-eye" id="eye-icon-New"></i>
                </span>
            </div>

            <!-- Campo de Confirmar Contraseña con ícono de candado y ojo -->
            <label for="contraseña_Confimar">Confirmar Contraseña:</label>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirmar Contraseña" aria-label="Confirmar Contraseña">
                <span class="input-group-text" onclick="toggleConfirmPassword()">
                    <i class="fa-regular fa-eye" id="eye-icon-confirm"></i>
                </span>
            </div>
            
            <!-- Botón de guardar cambios -->
            <div class="text-end">
                <input type="submit" value="Guardar Cambios" >
            </div>
        </form>
    </div>
</div>

<script>
function togglePassword() {
    const passwordField = document.getElementById("password");
    const eyeIcon = document.getElementById("eye-icon-password");
    const type = passwordField.type === "password" ? "text" : "password";
    passwordField.type = type;
    eyeIcon.classList.toggle("fa-eye-slash");
}

function toggleNewPassword() {
    const passwordField = document.getElementById("NewPassword");
    const eyeIcon = document.getElementById("eye-icon-New");
    const type = passwordField.type === "password" ? "text" : "password";
    passwordField.type = type;
    eyeIcon.classList.toggle("fa-eye-slash");
}

function toggleConfirmPassword() {
    const passwordField = document.getElementById("confirmPassword");
    const eyeIcon = document.getElementById("eye-icon-confirm");
    const type = passwordField.type === "password" ? "text" : "password";
    passwordField.type = type;
    eyeIcon.classList.toggle("fa-eye-slash");
}
</script>
{% endblock %}
